{% extends 'base.html' %}
{% block title %}用户列表{% endblock %}
{% block css %}{% endblock %}
{% block body %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                所有用户
                <small>已注册用户</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard"></i> 主页</a></li>
                <li class="active">所有用户</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                {% for msg in get_flashed_messages() %}
                    <div class="box box-solid bg-blue-gradient">
                        <div class="box-header">
                            <i class="fa fa-th"></i>
                            <h3 class="box-title">操作提示： <a class="text-red">{{ msg }} ！</a></h3>
                            <div class="box-tools pull-right">
{#                                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse">#}
{#                                    <i class="fa fa-minus"></i>#}
{#                                </button>#}
                                <button type="button" class="btn bg-teal btn-sm" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-border">
                        </div>
                    </div>
                    <!-- /.box -->
                    {% endfor %}

                    <div class="box">
                        <div class="box-header">

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>用户名</th>
                                    <th>是否是管理员</th>
                                    <th>电话</th>
                                    <th>添加时间</th>
                                    <th>编辑</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for v in users %}
                                <tr>
                                    <td>{{ v.name }}</td>
                                    <td>{{ v.username }}</td>
                                    <td>
                                        {% if v.is_admin is none %}
                                        否
                                        {% else %}
                                        是
                                        {% endif %}
                                    </td>
                                    <td>{{ v.phone }}</td>
                                    <td>{{ v.add_time }}</td>
                                    <td>
                                        <a href="{{ url_for('user_detail', uid=v.id) }}"
                                           data-toggle="tooltip" data-original-title="Edit">
                                           <i class="fa fa-pencil text-inverse m-r-10"></i>&nbsp;&nbsp;&nbsp;
                                        </a>
                                        <a href="{{ url_for('user_del', udid=v.id) }}" data-toggle="tooltip"
                                           data-original-title="Delete"
                                           onclick="{if(confirm('确认删除？')){this.document.formname.submit();
                                                    return true;}return false;}">
                                           <i class="fa fa-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>姓名</th>
                                    <th>用户名</th>
                                    <th>是否是管理员</th>
                                    <th>电话</th>
                                    <th>添加时间</th>
                                    <th>编辑</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
{% block javascript %}
    <!-- page script -->
    <script>
        $(function () {
            $('#example1').DataTable()
            $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        })
    </script>
{% endblock %}